{% if motd_ascii_art is defined %}

{{ motd_ascii_art }}
{% endif %}
--------------------------------------------------------------------------
                    This system is managed by Ansible
--------------------------------------------------------------------------

This is {{ ansible_fqdn }} running {{ ansible_distribution }}.

NOTE: System and application configuration for this host is managed by
automated systems. To ensure that any changes you make here are not lost,
please contact with your system administrator

{% for item in ssh_motd_info %}
{% for key, value in item.items() %}
    {{ key }}{{ value }}
{% endfor %}
{% endfor %}

{% if motd_sysadmins_email %}
Contact: {{ motd_sysadmins_email }}
{% endif %}

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Last ansible run: {{ ansible_date_time.iso8601 }}